@import "tailwindcss";

/* * {
    outline: 1px black solid;
} */

.noto-sans {
    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
}

.inconsolata {
    font-family: "Inconsolata", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
}

.azeret-mono {
    font-family: "Azeret Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
}


html {
    background: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.background-default {
    background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
}